#环境
APP_ENV=dev

#应用名称
APP_NAME=sms

#选定的短信服务
SMS_PROVIDER_NAME=alidayu
SMS_SIGN_NAME=
SMS_VCODELEN=4

#网易云短信配置
NETEASE_ACCESS_KEY=
NETEASE_ACCESS_SECRET=
NETEASE_VCODE_API=https://api.netease.im/sms/sendcode.action

#阿里大于短信配置
ALIDAYU_ACCESS_KEY=
ALIDAYU_ACCESS_SECRET=
ALIDAYU_SMS_API=http://gw.api.taobao.com/router/rest